header {
    display: flex;
    flex-direction: row;

    & div.labels {
        
    }

    & div.coal {
        width: 33%;
        margin-inline: auto;
    }
}

main {
    display: flex;
    flex-direction: row;
}
