header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div.labels {
        margin: 0;
    }

    div.coal {
        margin: 40%;
    }
}

main {
    display: flex;
    flex-direction: row;
}