body {
    display: grid;
    grid-template-areas: 
    "margin-left aside main margin-right";

    grid-template-columns: 10vw 32vw 48vw 10vw;
}

aside {
    grid-area: aside;
}

div.other-options {
    grid-area: margin-left;
}

main {
    grid-area: main;
}