body {
    display: grid;
    grid-template-areas: 
    "margin-left aside main ."
    "margin-left grey-div grey-div .";

    grid-template-columns: 5vw 32vw 58vw 5vw;
    grid-template-rows: 90vh 10vh;
}

aside {
    grid-area: aside;
}

div.other-options {
    grid-area: margin-left;
}

main {
    grid-area: main;
}

div#grey-div {
    grid-area: grey-div;
}
