* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;

    margin: 0;
    padding: 0;

    user-select: none; /* Standard syntax */
}

body {
    height: 100%;

    background-color: black;
    overflow: hidden;
}

aside {

    height: 100%;
    
    & ul {
        list-style: none;

        & li {
            background-color: gray;
            border: 1px solid white;
            border-radius: 5px;

            margin-inline: 25%;
            margin-top: 1rem;
            padding: 10px;

            width: 50%;
        }

        & li:hover {
            background-color: white;
            color: black;
        }
    }

    & nav {
        margin-top: 10rem;
    }

    & header {
        margin-top: 2.5rem;
    }

    & img:hover {
        transform: scale(1.1);
    }

    & progress {
        -webkit-appearance: none;
        appearance: none;
        border: none;

        width: 80%;

        margin: auto;
    }

    & progress::-webkit-progress-bar {
        background-color: red;
    }

    & progress::-webkit-progress-value {
        background-color: green;
    }
}

main {
    height: 100%;
     
    & h2 {
        text-align: right;
    }

    & div {
        background-repeat: no-repeat;

        margin-top: 2.5rem;

        height: 100%;
    }

    & nav {
        background-color: grey;

        & ul {
            text-align: center;
            list-style-type: none;
        }
    }
}

aside, main {
    padding: 1rem;
    text-align: center;
}

div.other-options {
    padding: 1rem;

    & * {
        padding-bottom: 1rem;
    }
}

dialog {

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
}

dialog.settings {

    width: 20%;
    height: 40%;

    background-color: rgba(78, 78, 78, 0.1);
    border: 5px solid white;
    border-radius: 30px;

    padding: 1rem;

    & form {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    & button {
        background-color: gray;
        border: 1px solid white;
        border-radius: 5px;

        margin-inline: auto;
        margin-top: 1rem;
        padding: 10px;

        width: 75%;
    }

    & button:hover {
        background-color: white;
        color: black;
    }
}

input {
    color: black;
}