* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;

    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

aside {
    
    & ul {
        list-style: none;

        & li {
            background-color: gray;
            border: 1px solid white;
            border-radius: 5px;

            margin-inline: 25%;
            margin-top: 1rem;
            padding: 10px;

            width: 50%;
        }

        & li:hover {
            background-color: white;
            color: black;
        }
    }

    & nav {
        margin-top: 10rem;
    }

    & header {
        margin-top: 2.5rem;
    }

    & img:hover {
        transform: scale(1.1);
    }

    & progress {
        color: green;
        background-color: red;

        width: 80%;

        margin: auto;
    }
}

main {
     
    & div {
        & h2 {
            text-align: right;
            margin-top: 2.5rem;
        }
    }
}

aside, main {
    padding: 1rem;
    text-align: center;
}

div.other-options {
    padding: 1rem;

    & * {
        padding-bottom: 1rem;
    }
}
