* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;

    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

aside {
    text-align: center;

    & ul {
        list-style: none;

        & li {
            background-color: gray;
            border: 1px solid white;

            margin-inline: 25%;
            margin-top: 1rem;
            padding: 10px;

            width: 50%;
        }

        & li:hover {
            background-color: white;
            color: black;
        }
    }

    & nav {
        margin-top: 10rem;
    }

    & header {
        margin-top: 2.5rem;
    }
}